<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net6.0\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <WebPublishMethod>Custom</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ProjectGuid>0e9781e2-9b03-4d58-9385-3c2b159bbd02</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>